.config__geral{
    width: 100%;

}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center ; 
    margin: 0 2%;  
}


.cabecalho__navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 98px;
    padding: 0 124px;   
}

div ul li a {
    text-decoration: none;
    color: var(--font-color-1);
    font-size: 24px;
    font-family: var(--fonte) ;
}
div ul li{
    display: flex;
    align-items: center;
    gap: 13px;
}
.link {
    text-decoration: none;
    color: var(--font-color-2);
}